@page
@model RazorSample.Pages.Motobikes.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Motobike</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Motobike.Name" class="control-label"></label>
                <input asp-for="Motobike.Name" class="form-control" />
                <span asp-validation-for="Motobike.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Motobike.Color" class="control-label"></label>
                <input asp-for="Motobike.Color" class="form-control" />
                <span asp-validation-for="Motobike.Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Motobike.Type" class="control-label"></label>
                <input asp-for="Motobike.Type" class="form-control" />
                <span asp-validation-for="Motobike.Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Motobike.Price" class="control-label"></label>
                <input asp-for="Motobike.Price" class="form-control" />
                <span asp-validation-for="Motobike.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Motobike.Id_Supplier" class="control-label"></label>
                <input asp-for="Motobike.Id_Supplier" class="form-control" />
                <span asp-validation-for="Motobike.Id_Supplier" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}